.bigg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoone {
    margin-bottom: 20px;
}

.title {
    width: 309px;
    height: 44px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    margin-bottom: 15px;
}

.text {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
    color: #323232;
    margin-bottom: 10px;
}

.boxbig {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.box {
    width: 40px;
    height: 40px;
    background-color: #1E7637;
    border-radius: 10px;
}

.onee {
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

.boxone {
    width: 40px;
    height: 40px;
    background-color: #1E7637;
    border-radius: 10px;
}

.twoo {
    width: 20px;
    height: 20px;
    margin: 10px 10px;
}

.boxtwo {
    width: 40px;
    height: 40px;
    background-color: #1E7637;
    border-radius: 10px;
}

.threee {
    width: 12px;
    height: 21px;
    margin: 10px 13px;
}

.phone {
    width: 292px;
    height: 43px;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 800;
    line-height: 42.67px;
    color: #323232;
    text-decoration: none;
}

.texttwo {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    color: #1E7637;
    margin-bottom: 60px;
}

.b {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.5px;
    color: #323232;
}

.r {
    width: 361px;
    height: 50px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    color: #000000CC;
}

.one {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    color: #323232;
    margin-bottom: 8px;
}

.a {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #000000CC;
    text-decoration: none;
}

.two {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    color: #323232;
    margin-bottom: 5px;
}

.aa {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;
    color: #000000CC;
    text-decoration: none;
}

.three {
    margin-bottom: 290px;
}

.oneone {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: #323232;
    margin-bottom: 5px;
}

.k {
    width: 291px;
    height: 210px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000CC;
}

.four {
    margin-bottom: 190px;
}

.five {
    margin-bottom: 150px;
}

.twotwo {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color: #323232;
    margin-bottom: 5px;
}

.m {
    width: 232px;
    height: 270px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000CC;
}

.six {
    margin-bottom: 360px;
}

.y {
    width: 206px;
    height: 20px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    text-align: left;
    color: #323232;
}

.l {
    width: 170px;
    height: 60px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    color: #000000CC;
    text-decoration: none;
}